@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"><strong>Monstros do Azure Aula 051!!!</strong></h1>
    <p><a href="https://www.alfabitzar.com.br">Alfabitzar.com.br</a></p>
</div>
